:root {
  --main_color: lightgrey;
  --bg_color: #212529;
}

html {
    font-family: "Courier New", monospace;
    color: var(--main_color);
}

body {
    overflow: hidden;
}

#matrixCanvas {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    transition: opacity 1s ease; /* You can adjust the duration and easing function */
}

#textCanvas {
    margin: 5px;
    padding: 5px;
}

h5{
    color: green;
    margin-top: 0px;
}

.terminal {
    background-color: #000;
    color: #ccc;
    padding: 10px;
    padding-bottom: 30px;
    height: 70vh;
    overflow: auto;
    opacity: 0.9;
}

button{
    border-color: var(--main_color);
    background: var(--main_color);
    min-width: 400px;
    max-width: 800px;
}

/* By default, hide the button */
.mobile-only {
    display: none;
}

/* Show the button on screens smaller than 768px wide (typical breakpoint for tablets and below) */
@media screen and (max-width: 1024px) {
    .mobile-only {
        display: block;
    }
}

#cursor {
    /*font-size: 20px;*/
}


.container{
    display: flex;
	justify-content: center;
	align-items: center;
    opacity: 0.9;
    z-index: 1;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 120px;
	height: 60px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 50px;
	height: 50px;
	background: var(--main_color);
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: grey;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}