:root {
  --main_color: #d8bfd8;
  --bg_color: #212529;
  --white: #ffffff;
}

html, body {
    margin-top: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: var(--bg_color);
    color: var(--main_color);
}

.terminal {
    color: lightgrey;
    background-color: #000;
    color: #ccc;
    padding: 10px;
    padding-bottom: 30px;
    width: 600px;
    height: 400px;
    overflow: auto;
}
