:root {
  --main_color: lightgrey;
  --bg_color: #212529;
  --white: #ffffff;
}

html, body {
    margin-top: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: var(--bg_color);
    color: var(--main_color);
}

h5{
    color: green;
    margin-top: 0px;
}

.terminal {
    color: lightgrey;
    background-color: #000;
    color: #ccc;
    padding: 10px;
    padding-bottom: 30px;
    min-width: 400px;
    max-width: 800px;
    height: 600px;
    overflow: auto;
}

button{
    border-color: var(--main_color);
    background: var(--main_color);
    min-width: 400px;
    max-width: 800px;
}

/* By default, hide the button */
.mobile-only {
    display: none;
}

/* Show the button on screens smaller than 768px wide (typical breakpoint for tablets and below) */
@media screen and (max-width: 1024px) {
    .mobile-only {
        display: block;
    }
}

#cursor {
    /*font-size: 20px;*/
}