<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <script src="{{ url_for('static', path='index.js') }}"></script>
    <title>The Digital Quest</title>
</head>
<body>
    <canvas id="matrixCanvas"></canvas>

    <div id="textCanvas">
        <h3>My Digital Quest</h3>

        <div class="terminal" id="terminal"><span id="cursor">|</span></div>

        <input id="hiddenInput" style="visibility: hidden;">

        <div>
            <h6>Active Connections: <class id="conn-count">Waiting for data...</class></h6>
        </div>
    </div>


    <script src="{{ url_for('static', path='rain.js') }}"></script>
</body>
</html>
