<!DOCTYPE html>
<html>
<head>
    <title>Matrix Rain</title>
        <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: black;
        }

        #matrixCanvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    </style>
</head>
<body>
    <canvas id="matrixCanvas"></canvas>

    <script src="{{ url_for('static', path='rain.js') }}"></script>
</body>
</html>
